@media screen and (max-width: 332px) {
	.Header {
		padding: 6px 6px 3px 6px;
		text-align: center;
	}
	.Header .Caption, .Footer .Copyright {
		display: none;
	}
}

@media screen and (min-width: 333px) and (max-width: 512px) {
	.Header .Caption {
		display: block;
		transform: translateY(8px);
	}
	.Header .Caption h1 {
		font-size: 2.2rem;
	}

	.Header .Caption p, .Footer .Copyright {
		display: none;
	}
}

@media screen and (min-width: 512px) and (max-width: 992px) {
	.Header .Caption {
		display: block;
	}
	.Slider-Photos {
		display: none;
	}
}

@media screen and (max-width: 992px) {
	.Slider-Photos {
		display: none;
	}
}

@media screen and (max-width: 992px) {
	.Visible { display: none; }
	.Invisible { display: block; }

	/*.Header .Menu, .SideBar-Menu, .SideBar-Category {
		display: none;
	}*/
}

@media screen and (min-width: 250px) and (max-width: 992px) {
	.SideBar .Button .Icon {
		display: block;
	}
}

@media screen and (max-width: 249px) {
	.SideBar-Header-Menu_Button {
		text-align: center;
	}
}

@media screen and (max-width: 767px) {
	.col-6 {
		text-align: center;
	}
	.Contacts, .Contacts h5, .Contacts p {
		text-align: center;
	}
	.col-md-auto {
		margin: 0;
	}

	.column-grid .column {
		float: none !important;
		width: 100% !important;
		padding-right: 0;
		clear: both;
	}
}