/**************************************************/
/* Colors:
/*   Background: rgb(238, 243, 245)
/*   Activ: rgb(255, 220, 96)
/*   Dark: rgb(19, 19, 19)
/**************************************************/

/* -- Подключение файла со всеми шрифтами -- */
@import url("Fonts.css");

.Content-About h1 {
	font-family: 'Montserrat-Bold', sans-serif;
	text-align: center;

	font-size: 2.2rem;
}
.Content-About h2 {
	margin: 6px 0 6px 0;
	
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 1.3em;
}
.Content-About p {
	margin: 6px 0 6px 0;

	font-family: 'Montserrat-Regular', sans-serif;
	text-indent: 2em;
	text-align: justify;
	font-size: 1.3em;
}
.Content-About smol {
	margin: 6px 0 6px 0;

	font-family: 'Montserrat-Regular', sans-serif;
	text-align: justify;
	font-size: 1.3em;
}
.Content-About ul {
	margin: 0;
	padding: 0 0 0 2em;
}
.Content-About li {
	font-family: 'Montserrat-Regular', sans-serif;
	text-align: justify;

	font-size: 1.3em;
}
.Content-About a {
	text-decoration: none;
	color: rgb(234, 142, 0);
}
.Content-About a:hover {
	padding-bottom: 2px;
	border-bottom: 1px solid rgb(234, 142, 0);
}

.Separator {
	margin: 25px 0 25px 0;

	width: 100%;
	border-style: none;
    background-color: transparent;
}

.Content-General h1 {
	margin: 0;
	/*padding: 0;*/
	font-family: 'Montserrat-Bold', sans-serif;
	text-align: center;

	font-size: 2.2rem;
}
.Content-General p {
	margin: 6px 0 6px 0;

	font-family: 'Montserrat-Regular', sans-serif;
	text-indent: 2em;
	text-align: justify;
	font-size: 1.3em;
}

/* -- Управление галереей -- */
.Gallery-Menu {
	margin: 0 0 15px 0;
	padding: 5px 30px;

	background-color: rgb(255, 255, 255);
	border-radius: 5px;	
}

.Gallery-Filter ul {
	margin: 0;
	padding: 3px 0 0 0
}
.Gallery-Filter li {	
	display: inline-block;

	list-style: none;
	padding-right: 20px;
}
.Gallery-Filter a {
	margin: 0;
	padding: 2px 0;

	text-decoration: none;

	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 1.2rem;
	color: rgb(19, 19, 19);
}
.Gallery-Filter a::after {
	content: "";
	display: block;
	padding-bottom: 2px;
	border-bottom: 2px solid rgb(234, 142, 0);
	max-width: 100%;

	transform-origin: 0 0;
	transition: transform 0.35s; 
	transform: scale(0, 1);
}
.Gallery-Filter a:hover::after {
	transform: scale(1);
}
.Gallery-Filter .Active {
	border-bottom: 2px solid rgb(234, 142, 0);
}

.Gallery-Sizing {
	display: flex;
}
.Gallery-Sizing a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.Gallery-Sizing .Button {
	margin: 3px;

	width: 29px;
	height: 29px;
	border: 2px solid rgba(19, 19, 19, 0.6);
	transition: all 0.2s;
}
.Gallery-Sizing .Button:hover {
	border: 2px solid rgb(234, 142, 0);
}
.Gallery-Sizing .Active {
	border: 2px solid rgb(19, 19, 19);
}



/* -- Отображение и анимация всплывающей фотографии -- */
.mfp-counter, .mfp-title, .mfp-s-error {
	font-family: 'Montserrat-Regular', serif;
	font-size: 1.1rem;
	letter-spacing: 0.6px;
	color: rgb(255, 255, 255);
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.New {	
	margin: 0 0 15px 0;
	padding: 40px 20px 50px 20px;
	position: relative;

	width: 100%;

	background-color: rgb(255, 255, 255);
	border-radius: 5px;
}
.New .Header h2 {
	margin: 0;
	padding: 20px 20px;
	position: absolute;

	top: 0;
	left: 0;

	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 1.3rem;
	color: rgb(19, 19, 19);	
}
.New h3 {
	margin: 0;
	padding: 10px 0;

	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 1.5rem;
	text-align: center;
	color: rgb(19, 19, 19);	
}
.New .Header p {
	margin: 0;
	padding: 20px 20px;
	position: absolute;

	top: 0;
	right: 0;

	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 1.3rem;
	color: rgb(19, 19, 19);	
}
.New h4 {
	margin: 0;
	padding: 30px 20px;
	position: absolute;

	bottom: 0;
	right: 0;

	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 1.3rem;
	color: rgb(19, 19, 19);	
}

.Support-Form {
	margin: 0;
	padding: 0;
	/* position: relative; */
}

.Support-Form p {
	margin: 0 20px 0 0;
	padding: 0;

	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 1rem;
}

.Support-Form input[type=text] {
	margin: 3px 0 20px 0;
	padding: 0 6px 0 6px;
	/* position: relative; */
	/* width: 46%; */
	/* display: inline-block; */
	/* margin: 0 3% 0 0; */

	width: 100%;
	height: 25px;
	font-family: 'Montserrat-Regular', sans-serif;
	border-radius: 5px;
	border: 2px solid rgb(255, 220, 96);

		/* background-color: brown; */
}

.Support-Form textarea {
	width: 100%;
	margin: 3px 0 10px 0;
	/* padding: .5em; */
	resize: vertical;
	font-family: 'Montserrat-Regular', sans-serif;
	padding: 4px 6px 4px 6px;

	border-radius: 5px;
	border: 2px solid rgb(255, 220, 96);
}

.Support-Form .submit {
	text-align: left;
}


table {
	margin: 0;
	padding: 0;

	width: 100%;

	
	border: 2px solid rgb(255, 220, 96);
	border-collapse: collapse;
}

table tr th {
	margin: 0;
	padding: 5px 20px 5px 20px;

	height: 40px;

	text-align: center;
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 1.2em;
	background-color: rgba(255, 221, 96, 0.26);
	border: 2px solid rgb(255, 220, 96);
}

table tr td {
	margin: 0;
	padding: 10px 10px 10px 10px;

	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 1.1em;
	border-right: 2px solid rgb(255, 220, 96);
}